<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveller's Guide</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS styles/Proyecto22.css">
    <link rel="icon" href="../Images/icono2.png">
    
</head>

<body>

  <!-- elementos de header -->
    <header>
      <div><h1>"Provincia de Mendoza"</h1></div>
    </header>

<!-- elementos de la barra de navegacion -->
    <Nav class="navbar">
        <a href="../../index.html" target="_blank">Inicio</a>
        <a href="sobrenosotros.html" target="_blank"> Contacto </a>
        <a href="Register.html" target="_blank">Registro </a>
        

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Agencias turisticas recomendadas</a>
          <ul class="dropdown-menu " >
            <li><a class="dropdown-item" href="https://aymaramendoza.com.ar/" target="_blank">Aymara Viajes</a></li>
            <li><a class="dropdown-item" href="https://mendozatours.com.ar/"target="_blank">Lauke Tours</a></li>
            <li><a class="dropdown-item" href="https://kahuak.com.ar/" target="_blank">Kahuak Turismo Mendoza</a></li>
          </ul>
      </div>
    </Nav>

    <div class="principalrow">
<aside> 
    <!--incide hecho con accordion -->

    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Region Norte
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <ul><a href="#1">Mendozacapital</a></ul>
          <ul><a href="#2">Cacheuta</a></ul>
          <ul><a href="#3">Uspallata</a></ul> 
          <ul><a href="#4">Los Penitentes</a></ul>
          <ul><a href="#5">El Puente del Inca</a></ul> 
          <ul><a href="#6">El parque provincial Aconcagua</a></ul>
          <ul><a href="#7">Las Cuevas</a></ul>
          <ul><a href="#8">Ruta Del vino del norte</a></ul> 
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Region Sur
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            <ul><a href="#9">San Rafael</a></ul>
            <ul><a href="#10">General Alvear</a></ul>
            <ul><a href="#11">El Malargue</a></ul>
            <ul><a href="#12">Las Leñas</a></ul>
            <ul><a href="#13">El pozo de las Animas</a></ul>
          </div>
        </div>
      </div>
    </div>








  </aside>

  <!-- Cuerpo Principal -->

<main>
<article>

        <h2> Region norte</h2>
<section>
<h3 id="1">Mendoza capital:</h3>
<p>Fue fundada por Pedro del Castillo en 1561 y tiene una rica historia y patrimonio cultural. Es una ciudad argentina moderna con un encanto colonial y antiguo que quedo de la “Mendoza antigua”, la mayor parte de la cual se distribuye en cinco plazas, cada una con su propia personalidad. Esta enclavada entre las cordilleras y un gran parque ecologico llamda general San Martin que es mantenido mendiante un sistema de riego con acequias revestidas con piedra granitica. El trazado de las cinco plazas, de calles, boulevards y avenidas en la Nueva mendoza forman una traza jerarquizada para el ordenado del tránsito y la evacuación ante posibles sismos.</p>
<ul>Plaza italia: fue creada para reconocer el aporte de los inmigrantes italianos al desarrollo de la cultura y la economía mendocina. En la plaza hay una fuente central recubierta con piezas de mayólica inspiradas en el piso de la Catedral de San Petronio de Bologna y ademas se pueden observar alyugnas esculturas que son recreaciónes de la loba con Rómula y de la Divina Comedia.</ul>
<img src="" alt="">
<ul>Plaza españa: fue remodelada en 1990 y al igual que Plaza Italia tiene una cubierta de azulejos que rodea una imponente fuente central. Adoptó su nombre actual gracias al “monumento de la niña y la mujar” donado por la colectividad española y que representa la fraternidad con el país ibérico.</ul>
<img src="https://vuelteando.com/wp-content/uploads/2021/04/16-1.jpg" alt="">
<ul>Plaza chile: El sitio simboliza la amistad con el país vecino y recibió su nombre por la ayuda brindada luego del terremoto de 1861, y está bellamente arborizado y cuenta con una fuente de aguas danzantes frente una escultura con las figuras de los libertadores San Martín y O'Higgins, donde los próceres aparecen con sus manos derechas unidas sobre una espada. Ademas, Fue diseñada como una zona seguro para refugiarse ante un nuevo sismo</ul>
<img src="https://thumbs.dreamstime.com/b/plaza-chile-mendoza-argentina-its-fountain-ceramic-tiles-palm-trees-41790299.jpg" alt="">
<ul>Plaza San Martin: recibe su nombre desde 1904, cuando en su parte central fue emplazada la estatua ecuestre del prócer y que es réplica de la que se encuentra en la plaza homónima de Buenos Aires</ul>
<img src="https://th.bing.com/th/id/R.88d498e1543268fd78c0db8e1099689a?rik=iNbI1SL5IMB6DA&riu=http%3a%2f%2fwww.welcomeargentina.com%2fpaseos%2fplazas_mendoza%2fplazas_mendoza-1.jpg&ehk=BCO7Ikn%2fx5IaoeC5jNfApu7X2tV%2bD51cH%2bNBZVDvXU0%3d&risl=&pid=ImgRaw&r=0" alt="">
<ul>Plaza independencia: es la plaza principal que se ubica en el centro del trazado de la “Mendoza Nueva” y ocupa cuatro manzanas, lo que la convierte en la más grande de la ciudad. El lugar cuenta con una enorme superficie de áreas verdes y en su explanada central tiene una fuente de aguas danzantes a la ritmo del himno argentino. La plaza también alberga al conocido Teatro Municipal Julio Quintanilla y el Museo Municipal de Arte Moderno.</ul>
<img src="https://th.bing.com/th/id/R.5bb4060b881ffb8d6fc5abe0da0bbeee?rik=JKNAQoHWxlIjpQ&riu=http%3a%2f%2fphotos.wikimapia.org%2fp%2f00%2f01%2f01%2f10%2f38_big.jpg&ehk=%2bGM0jJO5R9hv0qBV46Miu7jn8mOi4fwDfDS0m%2fJMyN0%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="">
<ul>Cerro de la gloria: es una pequeña precordillera en el parque General San Martin en cuya cima podrás ver uno de los atractivos turísticos de Mendoza, el famoso monumento del Ejército de los Andes. Esta escultura de 14 toneladas de bronce fue creado por el uruguayo Juan Manuel Ferrara en 1914 y rinde homenaje al Ejército de los Andes. Asimismo, es un increíble mirador de la ciudad y sus alrededores.La obra está cargada de simbolismo e historia, mostrando la figura del héroe patrio, el General José de San Martín con un grupo de granaderos a caballo y la imagen de la Libertad. Dedícate tiempo a contemplarla, ya que allí se ven grabadas toda la hsitoria libertadora de San maritin, las costumbres de la época, vestimentas, armas y otros detalles que le dan un gran realismo.
<mark>Tips: Si te interesa saber la husotria que esta grabada en el monumento, te recomiendo subirte a un buscity-tour</mark>



</ul>
<img src="https://thumbs.dreamstime.com/b/mendoza-argentina-october-view-cerro-de-la-gloria-monument-mendoza-argentina-cerro-de-la-gloria-monument-mendoza-102258324.jpg" alt="">
 </section>  



<section>
    <h3 id="2">Cacheuta:</h3>
    <p>Es un pequeño poblado que se encuentra en el límite entre los departamentos de Luján de Cuyo y Las Heras, al oeste de la provincia. Se ubica a orillas del río Mendoza, a 1245 m sobre el nivel del mar. Alli, podras disfrutar de un Parque de Aguas Termals que oscilan entre los 28 y 40 º. Ademas, esta oferta termal posee quinchos, churrasqueras, restaurantes, un almacén para provisiones y una base de turismo de aventura.</p>

    <img src="https://3.bp.blogspot.com/_J9H4EOkMIms/TVAj6QBT6rI/AAAAAAAAAfc/_zyu6wuubFY/s1600/DSC01740.jpg" alt="error">
    </section>

<section>
<h3> Ruta de alta montaña:</h3>
<p> Es un recorrido por la ruta Nacional 7 para subiy y conocer las coridlleras. Primero trancurre, a través de una zona de chacras y Luego se adentra a la coridllera siempre bordeando el serpenteante curso del río Mendoza, y con la vista de al cordillera del Cordón del Plata frente a usted. <mark>Se recomienda, en alta montaña siempre es necesario contar con un buen abrigo, aún en pleno verano, y protector solar aun en pleno invierno</mark>. A medida que aumenta la altitud, se encontraran con diferentes pueblos de montañas como:</p>
    
<h4 id="3">Uspallata:</h4>
<p> En un pequeño pueblo en medio de precordilleras con multitud de colores, llamadas la cordilerras de los siete colores mendocina, estas se deben a la presencia de diferentes oxidos metalicos. La recordada película "Siete años en el Tibet" se filmó en este valle mendoUspallatacino.</p>
<img src="https://media-cdn.tripadvisor.com/media/photo-s/0c/bd/a4/4a/cerro-de-los-7-colores.jpg" alt="error">

<h4 id="4">Los penitentes:</h4>
<p>Es una localidad y centro de esqui. Su calidad de nieve y el paisaje de sus formaciones rocosas generan altas y delgadas briznas de nieve endurecida o hielo, estrechamente espaciadas con las puntas apuntando hacia el sol, que aparentan las peregrinación de monjes penitentes. Estas formaciones llamadas penitentes,brotan de la tierra en diferentes tamaños, desde unas pocas pulgadas hasta más de 16 pies (5 metros). Charles Darwin fue el primero en describirlos para la ciencia mientras cruzaba los Andes desde Santiago de Chile hasta Mendoza en Argentina, y los científicos ahora descubrieron que puede haber penitentes en Europa, un satélite de Júpiter.</p>
<img src="https://earthtripper.com/wp-content/uploads/2020/11/penitentes-nature.jpg?ezimgfmt=ng:webp/ngcb15" alt="error">

<h4 id="5">El puente del Inca:</h4>
<p>A una hora del Distrito Los penitentes se encuentra el Puente del Inca, un monumento natural que se formó hace miles de años sobre una fuente de aguas termales. Y que fue venerszdo por los inicas por sus propiedades medicinales. Para visitarlo no hay que pagar entrada, sólo estacionar tu auto al costado de la ruta y caminar unos pocos pasos para verlo. En el área que rodea al puente hay puestos de artesanías, lugares para comer y también Se pueden ver las ruinas del primer hotel termal, construido por britanicos en 1917 y destruido por un alud en 1965.</p>

<img src="https://th.bing.com/th/id/R.8250dcf1bef4c951206270145eb854d9?rik=I5F6uyU2%2bdu%2fmQ&pid=ImgRaw&r=0" alt="error">
        
<h4 id="6"> El parque provincial del Aconcagua</h4>
<p>Es una zona a 4 km del puente del inca donde se puede apreciar o inclusive escalar el aconcagua, el pico más alto del continente americano, con 6.960 m s. n. m</p>

<img src="https://www.travelclass.tur.br/uploads/2018/06/parque-aconcagua-mendoza" alt="error">
        
<h4 id="7">Las cuevas:</h4>
<p>Es la localidad más elevada de la provincia (altitud 3557 m s. n. m.) y la situada más hacia el oeste, como ciudad limite con la forntera de Chile. A pesar de ser un espacio nevado muy bonito, es uno de los sitios abandonados en Mendoza, debido a que no cuenta con servicios de restaurantes, ni grandes lujos, así que si deseas pasear por esta zona limítrofe debes llevar todo lo necesario. Pero destaca porque entre la población y el túnel internacional que lleva a Chile , hay un camino estrecho y sinuoso que,, si las condiciones climáticas son favorables, permite ascender hacia el monumento del Cristo Redentor del escultor Mateo Alonso, emplazado a 4.200 metros de altura, que simboliza la fraternidad entre argentinos y chilenos
<br>
<mark>tips:Las Cuevas son sumamente peligrosas, debido a las fuertes curvas, por esto es recomendable ir en tours desde Mendoza, . El regreso a la ciudad de Mendoza se realiza por la misma ruta.</mark></p>
 <img src="https://th.bing.com/th/id/OIP.kNO4yjBSV-NqYJC5fh5CPgHaFj?rs=1&pid=ImgDetMain" alt="error"><img src="https://th.bing.com/th/id/R.7c34fc6d82f488b786908056fe0d8887?rik=T42IRh2fbRmWmA&riu=http%3a%2f%2fwww.meusroteirosdeviagem.com%2fwp-content%2fuploads%2f2014%2f05%2fMendoza-05491.jpg&ehk=CEHNzOwCnSvC3MUSbd1rYtsJfD6k6qfKBWXGx5IDWGQ%3d&risl=&pid=ImgRaw&r=0" alt="error">
    
</section>

  <section>
<h3 id="8">Citcuito del vino del norte:</h3 >
<p>Las tierras vitícolas se agrupan principalmente en la parte norte de la provincia, justo al sur de la ciudad de Mendoza. Aquí, las regiones de Luján de Cuyo, Maipú y el Valle de Uco son reconocidos por prudicr vinos de gran cocentracion e intensidad con la variedad de uva frrancesa Malbec. Los viñedos invitan a aprender todo sobre el cultivo y la cosecha de la vid y a tener degustaciones de vinos casuales</p>
<img src="https://vuelteando.com/wp-content/uploads/2021/04/2.png" alt="error">
</section>

<h2>Region Sur</h2>
<p>Este circuito turistico, ofrece extensos paisajes de contrastes, con toda la tranquilidad de los valles alrededor de la cordillera de los Andes.Algunas de las paradas turisticas mas importantes son:</p>
<section>
<h3 id="9">San Rafael:</h3>
<p>Es una ciudad de los valles que esta a 220 km de Mendoza capital y se encuentra justo en el centro de Mendoza abrazada de dos importantes rios: el Diamante y el Atuel. Es la segunda ciuda primcipal despues de la capital, por lo cual tiene diferentes servivios y atraciones para los visitnates como:</p> 
<ul>Cañon del atuel: es uno de los lugares mas visitados en San Rafael. Es una maravilla geologica con mas de 50 km, formada hace millones de años por los fuertes vientos y las aguas del rio Atuel, y en el que podrás practicar rafting y kayak. La erosión tallo allí figuras conocidas como El Mendigo, el Bosque de Coníferas, los Jardines Colgantes, El Elefante, El Sillón de Rivadavia, Los Monstruos y El Lagarto.</ul>
<img src="https://www.caribbeannewsdigital.com/sites/default/files/inline-images/xCa,PC3,PB1,PC3,PB3n,P20del,P20Atuel-Mendoza.jpg.pagespeed.ic.GsMkxc8urL.jpg" alt="error">
<ul>Los diques:  Las presas de los diques conforman un inmenso espejo de agua verde esmeralda que es una atraccion para la práctica de la natación, buceo, esquí, remo, motonáutica, paseo en catamarán, windsurf, pesca deportiva, etc.</ul>
<ul>Circuito del vino del sur: el visitante encontrará reconocidas bodegas de vinos finos y espumantes</ul>

</section>

<section>
<h3 id="10">General Alvear:</h3>
<p> Esta localidad se caracteriza por tener una ambiente que mezcla el oasis cuyano y el paisaje pampeano. Su perfil tursitico se basa en la excursion urbana, agrícola y gastronomíca: predominan los cultivos de vides y frutales, y la ganadería de zonas áridas ademas de sus balnearios y campings. Tambien ofrece un fascinante recorrido por la historia, la ciencia y el arte, con sus 6 museos que actualmente se pueden visitar, el cual se amplio a 8 con las aperturas del Museo de la Historia de la Ciudad e Historia Natural “Salvador Calafat” y el Museo del Deporte.</p>
</section>

<section >
<h3 id="11">El Malargue</h3>
<p>el departamento es hogar de la Reserva Natural La Payunia, reconocida como la zona más densa y variada de volcanes del mundo, entre los que destacan el Patru Mayun, el Payun Liso, el Malcara  y el Santa Maria. La reserva se origino de La fuerza de los volcanes, que  inundaron extensos territorios con grandes mantos de lava que al solidificarse crearon  formaciones basálticas que conforman un paisaje deserico de tonalidades rojas, negras y moradas, a los cuales sólo se puede acceder con guías autorizados en un tour o excursión</p>
<img src="https://tupermitidodesiempre.com.ar/download/multimedia.normal.a2a5c6d12c5ab9c1.4c6120506179756e696120325f6e6f726d616c2e6a7067.jpg" alt="error">
</section>

<section >
<h3 id="12">Las leñas:</h3>
<p>El lugar por su ubicación geográfica en medio de las montañas y con su base a 2.240 metros de altura sobre el nivel del mar y su cumbre a 3.430 es ideal para la práctica del esquí y snowboard. De hecho es uno de los centros de esquí más importante de la Argentina</p>
<img src="https://th.bing.com/th/id/OIP.GvwetRiptLQmABWGaZKvPgHaE7?rs=1&pid=ImgDetMain" alt="error">
</section>

<section>
<h3 id="13">El Pozo de las Ánimas:</h3>
<p>Es una formación geológica de la forma de un gran hueco en forma de cráter con su fondo inundado. Este fenómeno es conocido como ojo de mar y tiene un diámetro de 200 metros y 80 metros de profundidad. El Pozo de las Ánimas dio origen a muchas leyendas de la zona. Para observarlo mejor se construyó un mirador</p>
<img src="https://th.bing.com/th/id/R.12bfe96a1b6235121af4417ed977bf5f?rik=DuliIRgVBV1vAA&pid=ImgRaw&r=0" alt="error">
 </section>
    
</article>
</main>
    </div>

<!-- Pie de la pagina -->

<footer>

  <div class="left">
  <p  >&copy;Dylan Molina, Traveller's Guide</p>
      
  <p >Email:traveller'sguide2023@gmail.com</p>
  
  <p  > Numero de telefono: 011 3545 8856</p>
  
  <p  > equipo de desarolladores: </p>
  </div>
  
  <div class="right">
  <p  > Redes sociales:</p>
  
  <ul  >Instagram:<a href="https://www.instagram.com/" target="_blank">Traveller's_Guide</a></ul>
  
  
  <ul  >Facebook<a href="https://es-la.facebook.com/r.php" target="_blank">Traveller'sGuideblog</a></ul>
  
  <ul  >twitter<a href="https://twitter.com/" target="_blank">Traveller's_Guide</a></ul>

  </div>
    
  </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>