<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveller's Guide</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS styles/Proyecto22.css">
    <link rel="icon" href="../Images/icono2.png">
</head>
<body>
<!-- elementos del header -->
<header>
<div>
    <h1> "Provincia de Mendoza"</h1>
</div>
</header>

<!-- elementos de la barra de navegacion -->
<Nav class="navbar">
    <a href="../../index.html" target="_blank">Inicio</a>
    <a href="sobrenosotros.html" target="_blank"> Contacto </a>
    <a href="Register.html" target="_blank">Registro </a>
    

    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Agencias turisticas recomendadas</a>
        <ul class="dropdown-menu " >
          <li><a class="dropdown-item" href="https://aymaramendoza.com.ar/" target="_blank">Aymara Viajes</a></li>
          <li><a class="dropdown-item" href="https://mendozatours.com.ar/" target="_blank">Lauke Tours</a></li>
          <li><a class="dropdown-item" href="https://kahuak.com.ar/" target="_blank">Kahuak Turismo Mendoza</a></li>
        </ul>
    </div>



</Nav>

    <!-- Elementos del formulario -->
<Form class="formulario" action="">
    
<fieldset>

<legend> Registrarse para recibir notificaciones</legend>

<label for="nombre">Nombre:</label> 

<input type="text" name="firstname" id="nombre"> 

<label for="apellido">Apellido:</label>

<input type="text" name="surname" id="apellido"> 

<label for="genero">Genero:</label>

<select name="genre" id="genero">
    <option value="masculino">masculino</option>
    <option value="femenino">femenino</option>
    <option value="otro">otro</option>
</select> 

<label for="correoelectronico">Correo electronico</label>

<input type="email" name="email" id="correoelectronico"> 

<label for="Contraseña"> Contraseña</label>

<input type="password" name="password" id="Contraseña">

<label for="Fecha">Fecha de nacimiento</label>

<input type="date" name="birthday" id="Fecha">

<input  class= "reset" type="reset" value="reset" id="borrar">

<input class = "submit" type="submit" value="Registrarse">

</fieldset>

</Form>

<!-- Pie de la pagina -->

<footer>

    <div class="left">
    <p class="" >&copy;Dylan Molina, Traveller's Guide</p>
        
    <p class="">Email:<br>
    traveller'sguide2023@gmail.com</p>
    
    <p class="" > Numero de telefono: 011 3545 8856</p>
    
    <p class="" > equipo de desarolladores: </p>
    </div>
    
    <div class="right">
    <p class="" > Redes sociales:</p>
    
    <ul class="" >Instagram:<a href="https://www.instagram.com/" target="_blank">Traveller's_Guide</a></ul>
    
    
    <ul class="" >Facebook<a href="https://es-es.facebook.com/login.php/" target="_blank">Traveller'sGuideblog</a></ul>
    
    <ul class="" >twitter<a href="https://twitter.com/" target="_blank">Traveller's_Guide</a></ul>
    </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>